In [38]:
import pandas as pd


weather=pd.read_csv("Project Datamining&ML/weatherdata.csv", index_col="DATE")

In [39]:
weather

,STATION,NAME,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN,WDFG,WSFG
DATE,,,,,,,,,,
2013-03-01,CA007025251,"MONTREAL INTERNATIONAL A, QC CA",0.09,0.9,3.5,NaN,34.0,30.0,NaN,NaN
2013-03-02,CA007025251,"MONTREAL INTERNATIONAL A, QC CA",0.10,1.2,3.5,NaN,33.0,24.0,NaN,NaN
2013-03-03,CA007025251,"MONTREAL INTERNATIONAL A, QC CA",0.05,0.6,4.7,NaN,29.0,23.0,NaN,NaN
2013-03-04,CA007025251,"MONTREAL INTERNATIONAL A, QC CA",0.08,0.7,4.3,NaN,25.0,19.0,NaN,NaN
2013-03-05,CA007025251,"MONTREAL INTERNATIONAL A, QC CA",0.04,0.2,4.7,NaN,35.0,24.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2022-10-30,CA007025251,"MONTREAL INTERNATIONAL A, QC CA",0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-31,CA007025251,"MONTREAL INTERNATIONAL A, QC CA",0.00,0.0,NaN,49.0,60.0,38.0,NaN,NaN
2022-11-01,CA007025251,"MONTREAL INTERNATIONAL A, QC CA",0.11,0.0,NaN,52.0,58.0,46.0,28.0,71.6
2022-11-02,CA007025251,"MONTREAL INTERNATIONAL A, QC CA",0.00,0.0,NaN,48.0,57.0,38.0,NaN,NaN
2022-11-03,CA007025251,"MONTREAL INTERNATIONAL A, QC CA",0.00,0.0,NaN,49.0,62.0,36.0,NaN,NaN

In [51]:
null_pct=weather.apply(pd.isnull).sum()/weather.shape[0]
null_pct

STATION    0.000000
NAME       0.000000
PRCP       0.007135
SNOW       0.008847
TMAX       0.005422
TMIN       0.004281
dtype: float64

In [52]:
valid_columns=weather.columns[null_pct <.05]
valid_columns

Index(['STATION', 'NAME', 'PRCP', 'SNOW', 'TMAX', 'TMIN'], dtype='object')

In [53]:
weather= weather[valid_columns]

In [54]:
weather

,STATION,NAME,PRCP,SNOW,TMAX,TMIN
DATE,,,,,,
2013-03-01,CA007025251,"MONTREAL INTERNATIONAL A, QC CA",0.09,0.9,34.0,30.0
2013-03-02,CA007025251,"MONTREAL INTERNATIONAL A, QC CA",0.10,1.2,33.0,24.0
2013-03-03,CA007025251,"MONTREAL INTERNATIONAL A, QC CA",0.05,0.6,29.0,23.0
2013-03-04,CA007025251,"MONTREAL INTERNATIONAL A, QC CA",0.08,0.7,25.0,19.0
2013-03-05,CA007025251,"MONTREAL INTERNATIONAL A, QC CA",0.04,0.2,35.0,24.0
...,...,...,...,...,...,...
2022-10-30,CA007025251,"MONTREAL INTERNATIONAL A, QC CA",0.00,0.0,NaN,NaN
2022-10-31,CA007025251,"MONTREAL INTERNATIONAL A, QC CA",0.00,0.0,60.0,38.0
2022-11-01,CA007025251,"MONTREAL INTERNATIONAL A, QC CA",0.11,0.0,58.0,46.0
2022-11-02,CA007025251,"MONTREAL INTERNATIONAL A, QC CA",0.00,0.0,57.0,38.0
2022-11-03,CA007025251,"MONTREAL INTERNATIONAL A, QC CA",0.00,0.0,62.0,36.0